
h1{
    color: bisque;
   
}
body{
    background-color: cadetblue;
     text-align: center;
     font-family: cursive;
    
    
}
.container{
     display: flex;
     justify-content: center;
     text-align: center;
     height: 50vmin;
     margin-top: 30px;
    
}
.game{
     display: flex;
     justify-content: center;
     text-align: center;
     width: 480px;
     flex-wrap: wrap;
     gap: 10px;
     

}
.box{
     width: 18vmin;
    height: 18vmin;
    box-shadow: 0 0 1rem black;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    background-color: darkseagreen;
   
}
#reset-btn{
    margin-top: 90px ;
    margin-bottom: 10px;
    padding : 1rem;
    font-size: 1.25 rem ;
    background-color: darkolivegreen;
    color: white;
    border-radius: 1rem;
    border: none;

}
#new-btn{
    padding : 1rem;
    font-size: 1.25 rem ;
    background-color: darkolivegreen;
    color: white;
    border-radius: 1rem;
    border: none;

}
#msg{
    padding : 1rem;
    font-size: 1.25 rem ;
    background-color: rgb(0, 0, 0);
    color: white;
    

}

